/* #region reset---------------------------------------------------------------------*/
:root {
  --main-letter-color: #274c5b;
}

body, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--main-letter-color);
}
body {
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Yellowtail', cursive; */
  font-size: 16px;


  box-sizing: border-box;

  height: 100%;
  line-height: 1;
  
  color: #000;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul,
ol,
li {
  list-style: none;
}

.container {
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 30px;
}

._subtitle {
  font-family: 'Yellowtail', cursive;
  font-weight: 400;
  font-size: 36px;
  line-height: 64px;
  letter-spacing: 0.36px;
  color:#7eb693
}

._title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 45px;
  line-height: 58.5px;
  letter-spacing: 0.36px;
  color: var(--main-letter-color);
}

._text {
  color: #525c60;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 32.4px;
  letter-spacing: 0.25px;
}

.menu {}

a.active {
  color: #7eb693;
}
/* #endregion ----------------------------------------------------------*/
/* #region header ---------------------------------------------------------- */

.header {
  background: url(../images/header__background.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  /* position: absolute; */
  width: 100vw;
  /* left: 0;
  top: 0;
  z-index: 20; */
  height: 100%;
  padding-bottom: 150px;
}


.header__container {
  display: flex;
  align-items: center;
  min-height: 152px;
  background-color: #fff;
  justify-content: space-between;
  /* margin-bottom: 220px; */
}

.header__logo {}

.header__menu {
  margin: 0 0 0 26px;
}

.menu__list {
  display: flex;
}

.menu__item {
  margin: 0 0 0 40px;
}

.menu__item:last-child {
  margin: 0 100px 0 40px;
}

.menu__link {
  color: var(--main-letter-color);
font-size: 19px;
line-height: calc(32 / 14 * 100%);
letter-spacing: 0.36px
}

.header__basket {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  border: 1px solid #d4d4d4;
  border-radius: 33px;
  padding: 8px 11px;
}

.header__basket-img {
  width: 24px;
  height: 26px;
  background: var(--main-letter-color);
  padding: 12px;
  border-radius: 50%;
}

.header__basket-cart {}

.header__subtitle {
  /* font-family: 'Yellowtail', cursive; */
  color:#7eb693;
  /* font-weight: 400;
  font-size: 36px;
  line-height: 6px;
  letter-spacing: 0.36px; */
  padding-top: 180px;
  margin-bottom: 1px;
}

.header__title {
  color: var(--main-letter-color);
font-weight: 700;
line-height: 84px;
letter-spacing: 0.36px;
font-size: 70px;
max-width: 496px;
margin-bottom: 30px;
}

.header__button-container {
  /* padding-bottom: 50px; */
}

.header__button {
  background-color: #efd372;
  display: flex;
  max-width: 219px;
  color: var(--main-letter-color);
  border-radius: 16px;

  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.36px;
  padding: 25px 1px 25px 33px;
  align-items: center;
  gap: 24px;

}

.header__button-arrow {
  background-color: var(--main-letter-color);
  padding: 12px 10px;
  border-radius: 50%;
}
/* #endregion  ----------------------------------------------------------*/

/* #region main  ----------------------------------------------------------*/

/*#region get*/
.get {
  background-color: #fff;
}
.get__container {
  padding-top: 140px;
  /* display: flex; */
  align-items: center;
}

.get__cards {
  display: grid;
  grid-template-columns: repeat(2, 665px);
  grid-template-rows: 378px;
  gap: 50px;
  margin-bottom: 140px;
}

.get__card {
  padding: 55px;
  
}

.get__card-1 {
  background: url(../images/get__card-1.jpeg);
}

.get__card-2 {
  background: url(../images/get__card-2.jpeg);
}

.get__subtitle {
/* font-family: 'Yellowtail';
font-weight: 400;
font-size: 36px;
line-height: 64px;
letter-spacing: 0.36px; */
color: var(--main-letter-color);
}

.get__title {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0.36px;
  color: var(--main-letter-color);
  }

.get__card-1 .get__subtitle,
.get__card-1 .get__title {
  color: #fff;
}

.get__card-2 .get__subtitle {
  color:#7eb693
}

.get__card-1 .get__title {
  max-width: 219px;
 }

.get__card-2 .get__title {
 max-width: 264px;
}

/*#endregion*/

/*#region about*/
.about {
  background-color: #f9f8f8;
  padding-top: 130px;
  margin-bottom: 120px;
}

.about__container {
  display: flex;
}

.about__img {
  max-width: 675px;
  max-height: 652px;
}

.about__describe {
  display: flex;
  flex-direction: column;
  max-width: 675px;
  width: 100%;
}

.about__subtitle {}

.about__title {
  max-width: 521px;
}

.about__text {
 /* font-family: 'Open Sans';
font-weight: 400;
font-size: 18px;
line-height: 32.4px;
letter-spacing: 0.25px; */
margin-bottom: 26px;
/* color: #525c60; */
}

.about__foods,
.about__standards {
  display: flex;
  gap: 20px;
  margin-bottom: 45px;
}

.about__foods-img {}

.foods__container,
.standards__container {
  display: flex;
  flex-direction: column;
}


.foods__title,
.standards__title {
font-family: "Roboto";
font-weight: 400;
font-size: 25px;
line-height: 35px;
letter-spacing: 0.36px;
color: var(--main-letter-color);
margin: 0;
}

.foods__text {
  /* color: #525c60;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 32.4px;
  letter-spacing: 0.25px; */
  margin-bottom: 26px;
  max-width: 552px;
}



.about__standards-img {}


.standards__text {
  max-width: 539px;
}

.about__button {
  display: flex;
  justify-content: space-between;
  max-width: 199px;
  text-align: center;
  align-items: center;
  padding: 25px 13px 25px 33px;
  color: #fff;
  background-color: var(--main-letter-color);
  border-radius: 16px;
  margin-bottom: 140px;

  font-family: "Roboto";
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.6px;
}

.button__arrow {
  padding: 12px 10px;
  border-radius: 50%;
  background-color: #335b6b;
}
/*#endregion*/

/*#region food*/
.food {
  background-color: #fff;
  padding-top: 162px;
}
.food__container {}
.food__cards {
  display: grid;
  grid-template-columns: repeat(3, 447px);
  grid-template-rows: repeat(2, 590px);
  grid-gap: 20px;
  margin-bottom: 139px;
}

.food__card {
  display: flex;
  flex-direction: column;
  background-color: #f9f8f8;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 30px;
}

.food__title {
  background-color: #274c5b;
  color: #fff;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.36px;
  max-width: 118px;
  border-radius: 8px;
  text-align: center;
}
.food__card-img {}
.food__card-name {
  color: var(--main-letter-color);
  font-family: "Roboto";
  font-weight: 400;
  font-size: 22px;
  line-height: 35.2px;
  letter-spacing: 0.36px;
  border-bottom: 1px solid #d4d4d4;
  padding-bottom: 11px;
}
.food__card-rating {
  display: flex;
  justify-content: space-between;
}
.old__price {
  color: #b8b8b8;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 17px;
  line-height: 32.4px;
  letter-spacing: 0.36px;
}
.new__price {
  color: var(--main-letter-color);
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 18px;
  line-height: 32.4px;
  letter-spacing: 0.36px;
}


.rating__stars {}
/*#endregion*/


/* #endregion  ----------------------------------------------------------*/

/* #region footer  ----------------------------------------------------------*/

/* #endregion */